<!DOCTYPE html>
<html>
<head>
  <title>New Subscription Notification</title>
</head>
<body>
<p>Hello, <%= @subscriber.first_name %>!</p>
<p>You unsubscribe article which title is  <%= @article.title %></p>
</body>
</html>